body {
  color: #1b262c;
  margin: 0;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  display: block;
  float: left;
  width: 100%;
}

h1 {
  color: #ed6663;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Liu Jian Mao Cao', cursive;
}

h1.smaller-h1{
  font-size: 3.625rem;
}

h2 {
  color: #ed6663;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #ed6663;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.75rem;
}

h3.smaller-h3{
  font-size: 1.25rem;
  color: #0f4c81;
}

.image-container, .desc-title-container {
  display: block;
  float: left;
  width: 40%;
  padding: 30px;
}

.scrum .image-container {
  float: right;
}

.top-container .title-text p {
  line-height: 2;
  color: #ffa372;
  font-size: 1rem;
}

p {
  line-height: 2;
  color: #1b262c;
  font-size: 1rem;
}

hr {
  border: dotted #ffa372 6px;
  border-bottom: none;
  width: 4%;
  margin: 40px auto;
}

a {
  color: #0f4c81;
  font-family: 'Didact Gothic', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #11999e;
}

.name-em{
  text-decoration: underline;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 3.3rem;
}

.profile-container {
  display: block;
  float: left;
  width: 100%;
  margin-top: 40px;
}

.profile-container p{
  margin-top: 30px;
  color: #0f4c81;
}

.top-container {
  background-color: #1b262c;
  position: relative;
  padding-top: 100px;
  padding-bottom: 20px;
  display: block;
  float: left;
  width: 100%;
}

.middle-container {
  background-color: #0f4c81;
  display: block;
  float: left;
  width: 100%;
}

.middle-container.web-dev {
  background-color: #ffd200;
}

.middle-container.scrum {
  background-color: #fff7e7;
}

.middle-container.event {
  background-color: #10a38f;
  /* background-color: #39abaf; */
}


.getintouch-container {
  background-color: #ffffff;
  padding: 10px 0 60px;
  color: #0f4c81;
  display: block;
  float: left;
  width: 100%;
}

.getintouch-container h1, .getintouch-container h2, .getintouch-container h3{
  color: #ed6663;
}

.getintouch-container p{
  color: #0f4c81;
}

img.mountain {
  position: relative;
  width: auto;
}

.bottom-container {
  background-color: #ffa372;
  padding: 50px 0 20px;
  color: #0f4c81;
  display: block;
  float: left;
  width: 100%;
}

.bottom-container a{
  color: #0f4c81;
}

.bottom-container a:hover{
  color: #11999e;
}

.skill-row {
  width: 100%;
  margin: 0px auto 0px auto;
  text-align: left;
  display: block;
  float: left;
}

.pro {
  text-decoration: underline;
}

.profile-img {
  width: 150px;
  overflow: hidden;
  height: 150px;
  border-radius: 50%;
  transform: rotate(-90deg);
  margin: 0 auto;
  background-image: url(../images/kd1.jpg);
  background-size: 145% auto;
  background-repeat: no-repeat;
  background-position-x: -60px;
}

.intro {
  width: 30%;
  margin: auto;
  color: #ffa372;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-img {
  width: 100%;
  float: left;
  margin-top: 105px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background-image: -webkit-linear-gradient(top, #2a4958, #1b262c);
  background-image: -moz-linear-gradient(top, #2a4958, #1b262c);
  background-image: -ms-linear-gradient(top, #2a4958, #1b262c);
  background-image: -o-linear-gradient(top, #2a4958, #1b262c);
  background-image: linear-gradient(to bottom, #2a4958, #1b262c);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Didact Gothic', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background-image: -webkit-linear-gradient(top, #1b262c, #2a4958);
  background-image: -moz-linear-gradient(top, #1b262c, #2a4958);
  background-image: -ms-linear-gradient(top, #1b262c, #2a4958);
  background-image: -o-linear-gradient(top, #1b262c, #2a4958);
  background-image: linear-gradient(to bottom, #1b262c, #2a4958);
  text-decoration: none;
  color: #ffffff;
}
